
.total-cell {
  color: red;
}
  
.header-bold {
  font-weight: bold;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}


.swal-custom-zindex {
  z-index: 1500 !important;
}

.swal2-container {
  z-index: 1500
}

.saldo_vencido {
  color: red;
  font-weight: bold;
}

.plazo-cell {
  color: rgb(255, 0, 136)
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 75vw;
  max-width: 1500px;
  min-width: 320px;
  margin: auto;
}

img {
  width: 100%;
  border-radius: 15px;
}

.image {
  width: 70vw;
  max-width: 400px;
  min-width: 100px;
  margin: auto;
}

.loginContainer {
  width: 800px;
  height: 500px;
  display: flex;
}

.container-form {
  width: 100%;
  overflow: hidden;

}

.container-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-form h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.container-form span {
  font-size: 12px;
  margin-bottom: 15px;
}

.button {
  width: 170px;
  height: 45px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #3AB397;
  color: white;
}

.sign-in {
  padding: 4px;
  border: 2px solid rgba(59, 59, 59, 0.3);
  border-radius: 2px;
  transform: s;
}


